<div class="container-fluid">

    <div class="row ">
        <h1 class="mx-auto">Futball Adatbank</h1>
    </div>
    <div class="container"></div>
    <div class="card-group mx-auto ">
        <div class="card">
            <img src="../../../assets/messikicsi.jpg" class="card-img-top" alt="Messi">
            <div class="card-body">
                <h5 class="card-title">Játékos adatok</h5>
                <p class="card-text">A játékosok száma:
                    <span class="szam">
                        {{pcount}} fő
                    </span>
                </p>
                <p class="card-text">A játékosok átlagéletkora:
                    <span class="szam">
                        {{pavg}} év
                    </span>
                </p>
            </div>

        </div>
        <div class="card">
            <img src="../../../assets/klopkicsi.jpg" class="card-img-top" alt="Klop">
            <div class="card-body">
                <h5 class="card-title">Manager adatok</h5>
                <p class="card-text">A managerek száma: <span class="szam">
                        {{mcount}} fő
                    </span></p>
                <p class="card-text">A managerek átlagéletkora:
                    <span class="szam">
                        {{mavg}} év
                    </span>
                </p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/etokicsi.jpg" class="card-img-top" alt="ETO">
            <div class="card-body">
                <h5 class="card-title">Csapat adatok</h5>
                <p class="card-text">Csapatok száma:
                    <span class="szam">
                        {{tcount}} team
                    </span>
                </p>
                <p class="card-text">Magyar csapatok száma:
                    <span class="szam">
                        {{magyarteam}} team
                    </span>
                </p>

            </div>
        </div>

    </div>
    <div class="container caruseles">
        <div class="grid-item"></div>
        <div class="grid-item">

            <div id="carouselExampleSlidesOnly" data-interval="8000" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../assets/1.PNG" class="d-block w-100" alt="Első idézet">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/2.PNG" class="d-block w-100" alt="Második">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/3.PNG" class="d-block w-100" alt="Harmadik">
                    </div>
                </div>
            </div>

        </div>
        <div class="grid-item"></div>
    </div>