.container-fluid {
    background-image: url('../../../assets/stadionhatter.jpg');
    background-size:contain;
    background-repeat: repeat;
min-height: 100vh;

}
.card-group {
    width: 75vw;
    background: rgba(100, 255, 100, 0);
}

.card{
    margin:1em;
    background: rgba(100, 255, 100, 0.4);
    width: 300px;
}
h1 {
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: quote($string: "");
}
.szam {
    font-size: 1.3rem;
    color: whitesmoke;
    cursor: pointer;
}
.c {
    width: 20px;
}

.caruseles {
    grid-template-columns: 1fr,2fr,1fr;
}