<div class="content">
    <div class="row">

        <div *ngIf="(manager$ | async) as manager" class="col-6 offset-3">
            <form #managerForm="ngForm" (ngSubmit)="onUpdate(managerForm, manager)">

                <div class="form-group">
                    <label for="">FirstName</label>
                    <input required name="first_name" [(ngModel)]="manager.first_name" type="text" class="form-control"
                        pattern=".{5,25}">
                    <div [hidden]="managerForm.controls.first_name?.valid" class="error-message">
                        A vezetéknév minimum 5 és maximum 25 karakterből állhat!
                    </div>
                </div>

                <div class="form-group">
                    <label for="">LastName</label>
                    <input required name="last_name" [(ngModel)]="manager.last_name" type="text" class="form-control"
                        pattern=".{5,25}">
                    <div [hidden]="managerForm.controls.last_name?.valid" class="error-message">
                        A keresztnév minimum 5 és maximum 25 karakterből állhat!
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Email</label>
                    <input required name="email" [(ngModel)]="manager.email" type="email" class="form-control"
                        pattern=".{5,25}">
                    <div [hidden]="managerForm.controls.email?.valid" class="error-message">
                        Ez csak email lehet!
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Gender</label>
                    <input required name="gender" [(ngModel)]="manager.gender" type="text" class="form-control"
                        pattern=".{2,50}">
                    <div [hidden]="managerForm.controls.gender?.valid" class="error-message">
                        A nem minimum 2 maximum 20 karakter lehet!
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Nationality</label>
                    <input required name="nationality" [(ngModel)]="manager.nationality" type="text"
                        class="form-control" pattern=".{4,30}">
                    <div [hidden]="managerForm.controls.nationality?.valid" class="error-message">
                        A nemzetiség minimum 4 maximum 30 karakter lehet!
                    </div>
                </div>




                <div class="form-group">
                    <label for="">Age</label>
                    <input required name="age" [(ngModel)]="manager.age" type="number" class="form-control"
                        pattern="[0-9]{2,2}">
                    <div [hidden]="managerForm.controls.age?.valid" class="error-message">
                        A kor szám típus!
                    </div>
                </div>

                <div class="form-group">
                    <label for="">TeamId</label>
                    <input required name="teamid" [(ngModel)]="manager.teamid" type="number" class="form-control"
                        pattern="[0-9]">

                    <div [hidden]="managerForm.controls.teamid?.valid" class="error-message">
                        A teamId csak szám lehet!
                    </div>
                </div>



                <button [disabled]="managerForm.invalid || updating" type="submit"
                    class="btn btn-primary btn-block btn-lg">
                    <i *ngIf="!updating" class="fa fa-save"></i>
                    <i *ngIf="updating" class="fa fa-refresh"></i>
                </button>
            </form>
        </div>

    </div>
</div>