<div class="container-fluid">
    <div class="row">
        <h1 class="cim mx-auto py-5">Player List</h1>
    </div>
    <div class="row">
        <div class="container py-3">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <button class="btn btn-success btn-block" [routerLink]="[0]">
                        <i class="fa fa-edit"></i>
                        Create Player
                    </button>
                </div>
                <div class="col-12 col-lg-3 ">
                    <select [(ngModel)]="filterKey" class="form-control">
                        <option *ngFor="let key of filterKeys" [value]="key">
                            {{ key }}
                        </option>
                    </select>
                </div>
                <div class="col-12 col-lg-4">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search"
                            (keyup)="onChangePhrase($event)">
                        <button class="btn btn-success my-2 my-sm-0" (click)="onget()" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>

        <table class="table table-striped mx-auto ">
            <thead>
                <tr>
                    <th (click)="onColumnSelect('id')">#</th>
                    <th (click)="onColumnSelect('first_name')">FirstName</th>
                    <th (click)="onColumnSelect('last_name')">LastName</th>
                    <th (click)="onColumnSelect('szulido')">Született</th>
                    <th (click)="onColumnSelect('nationality')">Nationality</th>
                    <th (click)="onColumnSelect('age')">Age</th>
                    <th (click)="onColumnSelect('posztId')">PosztID</th>
                    <th (click)="onColumnSelect('teamId')">TeamID</th>
                    <th (click)="onColumnSelect('jatszottMeccs')">Meccsek</th>
                    <th (click)="onColumnSelect('rugottGol')">Gólok</th>
                    <th (click)="onColumnSelect('kiallitas')">Kiállítás</th>
                    <th (click)="onColumnSelect('sargaLap')">Sárgalap</th>
                    <th>Edit</th>


                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let player of playerList$ |async | filter:phrase:filterKey:playerfilter | sorter:columnKey:irany ">
                    <td>{{player.id}}</td>
                    <td>{{player.first_name}}</td>
                    <td>{{player.last_name}}</td>
                    <td>{{player.szulido}}</td>
                    <td>{{player.nationality}}</td>
                    <td>{{player.age}}</td>
                    <td>{{player.posztId}}</td>
                    <td>{{player.teamId}}</td>
                    <td>{{player.jatszottMeccs}}</td>
                    <td>{{player.rugottGol}}</td>
                    <td>{{player.kiallitas}}</td>
                    <td>{{player.sargaLap}}</td>
                    <td>
                        <div class="btn-group">
                            <button [routerLink]="[player.id]" class="btn btn-info">
                                <i class="fa fa-edit"></i>
                            </button>

                            <button (click)="oRemove(player)" class="btn btn-danger">
                                <i class="fa fa-trash"></i>

                            </button>
                        </div>
                    </td>

                </tr>
                <tr class="bg-info">
                    <td></td>
                    <td>{{playerCount}} fő</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> {{playerAgeAvg}} év</td>
                    <td></td>
                    <td>{{teamsCount}} fő</td>
                    <td></td>
                    <td>Filter hossza:</td>
                    <td>{{playerfilter.count}}</td>
                    <td></td>
                    <td></td>

                </tr>

            </tbody>
        </table>


    </div>
</div>