.container-fluid {
    background-image: url('../../../assets/managerhatter.jpg');
    background-size:contain;
    background-repeat:repeat;
    background-position:top;
}
.table {
    background: rgba(196, 231, 196, 0.7);
    width: 90vw;
    color:seagreen;
    font-size: 1.1em;
}
.bg-info {
    text-align: center;
    color: seashell;
    font-size: 1.2em;
}
th {
    cursor: pointer;
}