<div class="container-fluid">
    <div class="row">
        <h1 class="mx-auto py-5">Manager List</h1>
        <table class="table table-striped mx-auto ">
            <thead>

                <tr>
                    <th>#</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Nationality</th>
                    <th>Age</th>
                    <th>TeamID</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let manager of managerlist$ |async ">
                    <td>{{manager.id}}</td>
                    <td>{{manager.first_name}}</td>
                    <td>{{manager.last_name}}</td>
                    <td>{{manager.email}}</td>
                    <td>{{manager.gender}}</td>
                    <td>{{manager.nationality}}</td>
                    <td>{{manager.age}}</td>
                    <td>{{manager.teamid}}</td>
                    <td>
                        <div class="btn-group">
                            <button [routerLink]="[manager.id]" class="btn btn-info">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button (click)="onRemove(manager)" class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </td>

                </tr>
                <tr class="bg-info">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Menedzserek száma:</td>
                    <td>Csapatnál:</td>
                    <td>Átlagéletkor:</td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr class="bg-info">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{managerCount}} fő</td>
                    <td>{{teamsCount}} fő</td>
                    <td>{{summa/managerCount}} év</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>




        </table>
    </div>
</div>