.container-fluid {
    background-image: url('../../../assets/hatter1.jpg');
    background-size:contain;
    background-repeat: repeat;
}
.table {
    background: rgba(196, 231, 196, 0.7);
    width: 90vw;
    color:seagreen;
    font-size: 1.1em;
    text-align: center;
}
.bg-info {
    text-align: center;
    color: seashell;
    font-size: .9em;
}
th {
    cursor: pointer;
}

