.container-fluid {
    background-image: url('../../../assets/dac.jpg');
    background-size:contain;
    background-repeat: repeat;
}
.table {
    background: rgba(196, 231, 196, 0.6);
    width: 90vw;
    color:black;
    font-size: 1.1em;
    text-align: center;
}
.bg-info {
    text-align: center;
    color: seashell;
    font-size: .9em;
}
th {
    cursor: pointer;
}
.col {
    width: 25px;
    border: black 2pt solid;
    }
