<nav class="navbar navbar-expand-lg navbar-light bg-light position-static">
    <a class="navbar-brand" routerLink="/">Futball Data Bank </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="player">Players</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="team">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="manager">Managers</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Új...
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="manager/0">Manager</a>
                    <a class="dropdown-item" routerLink="player/0">Player</a>
                    <a class="dropdown-item" routerLink="team/0">Team</a>
                </div>
            </li>
        </ul>
    </div>
</nav>